/* Headings */

:root {
	--heading-2-font-size: 1.5em;
	--heading-2-padding: 1em 0em 0em 1em;
  
	--heading-3-font-size: 2.5em;
	--heading-3-font-weight: bold;
	--heading-3-margin: 0;
	--heading-3-color: #ffffff;
	--heading-3-margin: 1em 1.5em 0em 0.6em;
  
	--heading-4-font-size: 1em;
	--heading-4-margin: 0.6em 0.6em 0.6em 0.6em;
  }
  
  
  h2 {
	font-size: var(--heading-2-font-size);
	padding: var(--heading-2-padding);
  }
  
  h3 {
	font-size: var(--heading-3-font-size);
	font-weight: var(--heading-3-font-weight);
	margin: var(--heading-3-margin);
	color: var(--heading-3-color);
  }
  
  h4 {
	font-size: var(--heading-4-font-size);
	margin: var(--heading-4-margin);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* Navigation bar */
  :root {
	--background-color:black; 
	--text-color:white; 
  }
  
  
  header {
	display: flex;
	justify-content: space-between;
	top: 0;
	width: 100%;
	background-color: var(--primary-color);
	z-index: 999;
	margin: 0em 0em 0em 0em;
	padding: 1em 2em 1em 2em;
  }
  
  header nav {
	display: flex;
	height: 3.7em;
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 1em 0em;
	float: none;
	position: absolute;
	top: 2.5em;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
  }
  
  header nav a img {
	width: 4em;
	height: auto;
	border: white;
	margin: 1em 0em 0em 0em;
	flex: 1;
  }
  
  header div img {
	display: flex;
	height: 2em;
	right: 0;
  }
  
  
  
  
/* Models 718 */
:root {
    --main-text-color: #ffffff;
    --link-color: #ffffff;
    --link-hover-color: #d5001c;
    --link-border-color: #ffffff;
    --link-hover-border-color: #d5001c;
    --background-color: #000;
  }
  .models {
	margin-bottom: 2em;
  }
 
 
  .models ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 0;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .models ul li {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .models ul li a {
    display: block;
    margin: 0;
  }
  
  .models ul li section:nth-of-type(2) {
    align-self: flex-end;
  }
  
  .models ul li h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--main-text-color);
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    transition: color 0.2s ease-in-out;
  }
  
  
  .models ul li p {
    font-size: 0.8em;
    color: var(--clr-p);
	margin: 0;
	
  }
  
  
  .models ul li a:first-of-type {
    color: var(--background-color);
    background-color: var(--link-color);
  }
  
  .models ul li a:first-of-type:hover {
    background-color: var(--link-hover-color);
    color: var(--background-color);
    border-color: var(--link-hover-border-color);
  }
  
  .models ul li a:nth-of-type(2):hover {
    color: var(--link-hover-color);
    border-color: var(--link-hover-border-color);
  }
  
  .models ul li h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: var(--main-text-color);
    transition: color 0.2s ease-in-out;
  
  }
  
  .models ul li h3:hover {
    color: var(--link-hover-color);
  }
  

